
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

* {
    margin: 0;
    padding: 0;
    outline: 0
}

body,
html,
form {
    font-family: 'Lato', sans-serif;
    height: auto;
    width: 100%;
    word-wrap: break-word
}

h1,
h2,
h3,
p {
    word-wrap: break-word;
    line-break: after-white-space;
}

h1,
p {
    margin: 0 auto;
    text-align: center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0
}

h2 {
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    color: #1fa2ed;
}

p,
h3 {
    font-size: 24px;
    line-height: 36px
}

a:link,
a:visited {
    color: #1fa2ed;
    text-decoration: none
}

a:hover {
    color: #e05b49
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}

.content-wrapper {
    margin: 0 auto;
    max-width: 95%;
    text-align: center
}

.clearfix:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
    content: " ";
    display: table
}

.clearfix:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
    clear: both;
    content: " ";
    display: table
}

.clear {
    clear: both
}

.wrap {
    margin: 0 auto;
    max-width: 1160px
}

.site-header .wrap {
    max-width: 1320px
}

.site-header .widget-area {
    float: right;
    text-align: right;
    width: 1080px
}

.site-header .widget_nav_menu {
    margin-top: 17px
}

.utility-nav {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 3px
}

.utility-nav .sep {
    color: #cad7de;
    display: inline-block;
    font-weight: 300;
    line-height: 1.5;
    padding: 0 5px
}

.utility-nav a {
    color: #5a5a5a;
    font-weight: 300;
    line-height: 1.5
}

.utility-nav a:hover {
    color: #df5b48;
    text-decoration: underline
}

.utility-nav .hiring,
.helper a {
    color: #1fa2ed
}

.utility-nav .help-wrap {
    display: inline-block;
    position: relative;
    background: url('https://lh3.googleusercontent.com/P7TK8JTdW53_pKlNiVk_ZhvA1nJZUQGfmSPQnLCjWhHfgfzdzqzI1SdoI5DAGr8Y2uERmv6HdpsyPECsV-JT=s0') center right no-repeat;
    padding-right: 15px
}

.helper {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 270px;
    background: #f9f9f9;
    z-index: 99999999;
    text-align: left;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1)
}

.helper .title {
    color: #fff;
    background: #1fa2ed;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin: 0
}

.helper p {
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin: 0;
    padding: 15px 15px 0 15px;
    text-align: left
}

.helper p:last-of-type {
    padding-bottom: 15px
}

.helper .title::after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #1fa2ed transparent;
    position: absolute;
    right: 15px;
    top: -10px
}

#my-banner {
    height: auto;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 40px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 40px;
    position: relative;
    text-align: center;
    z-index: 0;
    background-color: #218dcb;
    text-shadow: 0px 1px 1px #000000
}

#my-banner:after {
    border-top: solid 38px #218dcb;
    border-left: solid 42px transparent;
    border-right: solid 42px transparent;
    content: '';
    height: 0;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 0;
    z-index: -1
}

#my-banner-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    width: 1px;
    z-index: -100
}

#my-banner #my-banner-img-caret {
    bottom: -5px;
    left: 49.3%;
    right: 50%;
    position: absolute;
    display: none
}

#my-banner h1,
#my-banner-p,
#my-banner-img-caret {
    z-index: 2;
    position: relative;
    z-index: 1
}

#my-banner h1 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: .03em;
    line-height: 1.5em;
    max-width: 1020px;
    padding-top: 100px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 50px;
    text-transform: uppercase;
    margin: 0 auto;
}

#my-banner h1 #accent {
    color: #25364b;
    font-size: 99px;
    letter-spacing: 0;
    line-height: 81px;
    position: relative;
    top: -8px;
    vertical-align: middle
}

#my-banner p {
    color: #fff;
    font-weight: 700;
    letter-spacing: .05em;
    margin-bottom: 56px;
    text-transform: uppercase
}

#my-banner-img-caret {
    bottom: 15px
}

#sub-heading {
    padding: 99px 0 30px 0;
    margin-top: -30px;
    background-color: #fffeff
}

#sub-heading p {
    color: #5a5a5a;
    font-weight: 300;
    max-width: 945px
}

#sub-heading p span {
    font-weight: 700
}

#stats {
    background: #25364c;
    padding: 105px 0
}

#stats #stats-container {
    margin: 0 auto;
    max-width: 100%;
    text-align: center
}

#stats .stat {
    display: inline-block;
    max-width: 19%;
    padding: 20px 0;
    vertical-align: middle
}

#stats h2,
#stats h3,
p {
    color: #fff
}

#stats h3 {
    letter-spacing: .05em;
    line-height: 27px;
    text-transform: uppercase
}

#stats p {
    font-weight: 300
}

#stats img {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    top: -30px;
    vertical-align: middle
}

#testimonial {
    background: #f0f5f7;
    padding: 73px 0
}

#testimonial p {
    color: #5a5a5a;
    font-weight: 300;
    margin-top: 20px;
    max-width: 757px
}

#testimonial span {
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin: 0 auto;
    margin-top: 0
}

#testimonial h4 {
    color: #1fa2ed;
    font-size: 18px;
    line-height: 27px;
    margin: 29px 0 5px
}

#how-works {
    padding-top: 102px;
    position: relative;
    background-color: #feffff
}

#how-works:after {
    border-top: solid 38px #feffff;
    border-left: solid 42px transparent;
    border-right: solid 42px transparent;
    content: '';
    height: 0;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 0;
    z-index: 1
}

#how-works h2 {
    color: #1fa2ed;
    font-weight: 900;
    letter-spacing: .05em;
    margin-bottom: 100px;
    text-align: center;
    text-transform: uppercase
}

#how-works .step {
    height: auto;
    margin: 0 auto;
    max-width: 877px;
    min-height: 280px;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    text-align: left;
    z-index: 0
}

#how-works .step:nth-child(3) {
    height: auto;
    min-height: 260px
}

#how-works .left {
    display: inline-block;
    position: relative;
    left: 0;
    vertical-align: top;
    width: 525px
}

#how-works .right {
    float: right;
    position: relative;
    right: 0;
    width: 458px
}

#how-works h3 {
    color: #5a5a5a;
    z-index: 0;
    text-align: left
}

#how-works .num {
    background: #1fa2ed;
    border-radius: 30px;
    color: #fffffe;
    float: left;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 0;
    margin-right: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
    word-wrap: nowrap;
    width: 30px;
    z-index: 5
}

#how-works p {
    color: #5a5a5a;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    margin-top: 30px;
    text-align: left
}

#how-works .image {
    display: inline-block;
    position: relative;
    left: 86px
}

#how-works #register-btn {
    top: 30px
}

#how-works #templates {
    float: left;
    top: -10px;
    width: 400px
}

#how-works .submit {
    top: -30px
}

#start-today {
    background: #25364D;
    padding: 108px 0
}

#start-today h2 {
    color: #fff;
    font-weight: 900;
    letter-spacing: .05em;
    margin-bottom: 45px
}

#start-today .click-btn,
#start-today .click-btn {
    background: #1fa2ed;
    color: #fff;
    display: block;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 30px;
    margin: 0 auto;
    padding: 30px 45px;
    text-transform: uppercase;
    width: 750px
}

#start-today .click-btn:hover {
    background: #ffcc01
}

#start-today .click-btn span {
    font-size: 42px;
    font-weight: 600;
    position: relative;
    top: 3px
}

#start-today #start-text {
    margin: 0 auto;
    margin-top: 45px;
    max-width: 663px
}

#start-today p {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px
}

#brands {
    padding: 50px 0;
    background-color: #fffffe
}

#brands h3 {
    color: #25364c;
    font-weight: 900;
    letter-spacing: .05em;
    text-transform: uppercase
}

#brands #logos {
    margin: 0 auto
}

#brands #logos img {
    display: inline-block;
    margin: 12px
}

#footer {
    background: #25354C;
    overflow: hidden;
    padding: 20px 0 10px
}

#footer .content-wrapper {
    max-width: 1160px
}

#footer p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em
}

#footer #copyright {
    float: left;
    max-width: 80%
}

#footer #copyright p {
    text-align: left
}

#footer #socials a {
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    margin-left: 5px;
    height: 40px;
    width: 40px;
    position: relative
}

#footer #socials a:hover {
    background: #666
}

#footer #socials {
    float: right;
    padding: 0 10px;
    position: relative;
    top: -10px
}

#footer #socials .fa {
    color: #fff;
    font-size: 20px
}

#footer #socials-facebook-link {
    background: #3B5998;
    position: relative
}

#footer #socials-facebook-link:before {
    content: '\f09a';
    font-family: FontAwesome;
    position: absolute;
    color: #fff;
    left: 0;
    right: 0
}

#footer #socials-twitter-link {
    background: #00acee
}

#footer #socials-twitter-link:before {
    content: '\f099';
    font-family: FontAwesome;
    position: absolute;
    color: #fff;
    left: 0;
    right: 0
}

#footer #socials-google-plus-link {
    background: #dd4b39
}

#footer #socials-google-plus-link:before {
    content: '\f0d5';
    font-family: FontAwesome;
    position: absolute;
    color: #fff;
    left: 0;
    right: 0
}

#footer #bottom-text {
    clear: both;
    padding-top: 5px
}

#footer #bottom-text span {
    font-size: 80%
}

#mobile-menu {
    position: fixed;
    top: 0px;
    right: 0px;
    background: #0683ca;
    color: #fff;
    font-size: 26px;
    padding: 8.5px 15px;
    text-align: center;
    z-index: 999;
    display: none
}

#mobile-menu:hover {
    text-decoration: none
}

@media all and (max-width:2000px) {
    #my-banner #my-banner-img-caret {
        left: 49.6%
    }
}

@media all and (max-width:1800px) {
    #my-banner #my-banner-img-caret {
        left: 49.1%
    }
}

@media all and (max-width:1300px) {
    #my-banner #my-banner-img-caret {
        left: 49.1%
    }
}

@media all and (max-width:1200px) {
    #my-banner #my-banner-img-caret {
        left: 49.3%
    }
}

@media all and (max-width:1159px) {
    #my-banner h1 {
        font-size: 46px
    }
    #my-banner img {
        bottom: 3px
    }
    #my-banner #my-banner-img-caret {
        left: 49.0%
    }
    .wrap,
    .site-header .wrap {
        max-width: 960px
    }
    #stats .stat h3 {
        font-size: 20px;
        line-height: 26px
    }
    #stats .stat h2 {
        font-size: 30px;
        line-height: 36px
    }
    #stats .stat p {
        font-size: 16px;
        line-height: 20px
    }
    #stats img {
        padding: 0 10px;
        width: 30px
    }
    #brands #logos {
        max-width: 90%
    }
    #footer .content-wrapper {
        max-width: 90%
    }
}

@media all and (max-width:980px) {
    .wrap,
    .site-header .wrap {
        max-width: 727px
    }
    .title-area {
        float: none;
        width: 180px;
        margin: 0 auto
    }
    .site-title a {
        width: 80px;
        height: 94px
    }
    .after-header-info,
    .page-tutorial .site-inner {
        margin-top: 0
    }
    .entry {
        margin-bottom: 20px;
        padding: 15px
    }
    .site-header .fb-like {
        display: none!important
    }
    .title-area {
        width: 82px
    }
    .content-wrapper {
        max-width: 80%
    }
    #my-banner h1 {
        font-size: 2.5em;
        line-height: 1.5em;
        padding: 120px 0;
        max-width: 600px
    }
    #my-banner p {
        font-size: 1.5em
    }
    #my-banner img {
        bottom: 10px
    }
    #my-banner #my-banner-img-caret {
        display: none
    }
    #stats #stats-container {
        max-width: 95%
    }
    #how-works {
        padding-bottom: 100px
    }
    #how-works h2 {
        margin-bottom: 80px
    }
    #how-works h3 {
        text-align: center
    }
    #how-works p {
        text-align: center
    }
    #how-works .image {
        left: 0;
        top: 30px
    }
    #how-works #templates {
        width: auto
    }
    #how-works .num {
        display: block;
        float: none;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: center
    }
    #how-works .step {
        min-height: 430px
    }
    #how-works .left,
    #how-works .right {
        display: block;
        float: none;
        margin: 0 auto;
        position: relative;
        width: auto
    }
    #how-works .image {
        display: block;
        margin: 0 auto;
        position: relative;
        text-align: center
    }
    #how-works #templates,
    #how-works .submit,
    #how-works #register-btn {
        text-align: center;
        top: 30px;
        left: 0;
        padding-bottom: 35px
    }
    #start-today .click-btn,
    #start-today .click-btn {
        font-size: 18px;
        line-height: 22px;
        padding: 30px 20px;
        width: 90%
    }
    #start-today .click-btn span {
        font-size: 30px
    }
    #footer #copyright {
        float: none;
        margin: 0 auto;
        max-width: 100%
    }
    #footer #copyright p {
        text-align: center
    }
    #footer #socials {
        display: block;
        float: none;
        margin: 15px 0;
        position: inherit
    }
    #footer #bottom-text {
        margin: 0 auto;
        max-width: 90%
    }
}

@media only screen and (max-width:900px) {
    #my-banner #my-banner-img-caret {
        bottom: -5px;
        left: 48%;
        right: 50%;
        position: absolute
    }
    #stats #stats-container {
        max-width: 90%
    }
    #stats .stat h3 {
        font-size: 17px;
        line-height: 24px
    }
    #stats .stat h2 {
        font-size: 23px;
        line-height: 30px
    }
    #stats .stat p {
        font-size: 15px;
        line-height: 20px
    }
    #stats img {
        padding: 0 8px;
        width: 25px
    }
    #stats .stat {
        display: inline-block;
        max-width: 19%
    }
}

@media only screen and (max-width:767px) {
    #my-banner {
        top: -39px;
        z-index: 2
    }
    .wrap,
    .site-title a {
        margin: 0 auto;
        height: 134px
    }
    .site-title {
        float: none
    }
    .site-header .fb-like {
        display: none!important
    }
    .utility-nav {
        display: none
    }
    p {
        font-size: 18px;
        line-height: 32px
    }
    #stats #stats-container {
        max-width: 98%
    }
    #stats .stat h3 {
        font-size: 13px;
        line-height: 24px
    }
    #stats .stat h2 {
        font-size: 22px;
        line-height: 26px
    }
    #stats .stat p {
        font-size: 14px;
        line-height: 18px
    }
}

@media all and (max-width:670px) {
    #my-banner h1 {
        max-width: 370px;
        padding: 90px 0
    }
    #stats #stats-container {
        max-width: 168px
    }
    #stats .stat {
        display: block;
        max-width: 100%;
        padding: 0
    }
    #stats .stat:nth-child(1) {
        margin-bottom: 0
    }
    #stats .stat h2 {
        font-size: 26px;
        line-height: 35px
    }
    #stats .stat h3 {
        font-size: 18px;
        line-height: 24px
    }
    #stats .stat p {
        font-size: 18px;
        line-height: 20px
    }
    #stats img {
        padding: 20px 0;
        top: 0
    }
}

@media all and (max-width:600px) {
    .content-wrapper {
        max-width: 90%
    }
}

@media all and (max-width:550px) {
    p {
        font-size: 18px;
        line-height: 32px
    }
    h2 {
        font-size: 30px;
        line-height: 36px
    }
    h3 {
        font-size: 20px;
        line-height: 29px
    }
    #my-banner h1 {
        font-size: 2.4em
    }
    #my-banner img {
        bottom: 0
    }
    #brands #logos {
        margin-top: 20px;
        max-width: 100%
    }
    #brands #logos img {
        margin: 8px;
        width: 140px
    }
}

@media all and (max-width:500px) {
    #my-banner {
        background-color: #218dcb;
        height: auto;
        min-height: 0
    }
    #my-banner img {
        display: none
    }
    #my-banner h1 {
        font-size: 2em;
        padding: 35px 0 30px
    }
    #my-banner p {
        padding-top: 30px;
        margin-bottom: 0
    }
}

@media all and (max-width:450px) {
    #how-works img {
        width: 70%
    }
    #how-works h2 {
        margin-bottom: 60px
    }
    #how-works h3 {
        margin: 0 auto;
        max-width: 90%
    }
}

@media all and (max-width:350px) {
    #start-today .click-btn,
    #start-today .click-btn {
        font-size: 14px;
        width: 80%
    }
    #start-today .click-btn span {
        font-size: 24px;
        line-height: 2px
    }
}

.fb_hidden {
    position: absolute;
    top: -10000px;
    z-index: 10001
}

.fb_reposition {
    overflow: hidden;
    position: relative
}

.fb_invisible {
    display: none
}

.fb_reset {
    background: none;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal
}

.fb_reset>div {
    overflow: hidden
}

.fb_link img {
    border: none
}

.fb_dialog {
    background: rgba(82, 82, 82, .7);
    position: absolute;
    top: -10000px;
    z-index: 10001
}

.fb_reset .fb_dialog_legacy {
    overflow: visible
}

.fb_dialog_advanced {
    padding: 10px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px
}

.fb_dialog_content {
    background: #fff;
    color: #333
}

.fb_dialog_close_icon {
    background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
    _background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);
    cursor: pointer;
    display: block;
    height: 15px;
    position: absolute;
    right: 18px;
    top: 17px;
    width: 15px
}

.fb_dialog_mobile .fb_dialog_close_icon {
    top: 5px;
    left: 5px;
    right: auto
}

.fb_dialog_padding {
    background-color: transparent;
    position: absolute;
    width: 1px;
    z-index: -1
}

.fb_dialog_close_icon:hover {
    background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;
    _background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)
}

.fb_dialog_close_icon:active {
    background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;
    _background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)
}

.fb_dialog_loader {
    background-color: #f6f7f8;
    border: 1px solid #606060;
    font-size: 24px;
    padding: 20px
}

.fb_dialog_top_left,
.fb_dialog_top_right,
.fb_dialog_bottom_left,
.fb_dialog_bottom_right {
    height: 10px;
    width: 10px;
    overflow: hidden;
    position: absolute
}

.fb_dialog_top_left {
    background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;
    left: -10px;
    top: -10px
}

.fb_dialog_top_right {
    background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;
    right: -10px;
    top: -10px
}

.fb_dialog_bottom_left {
    background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;
    bottom: -10px;
    left: -10px
}

.fb_dialog_bottom_right {
    background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;
    right: -10px;
    bottom: -10px
}

.fb_dialog_vert_left,
.fb_dialog_vert_right,
.fb_dialog_horiz_top,
.fb_dialog_horiz_bottom {
    position: absolute;
    background: #525252;
    filter: alpha(opacity=70);
    opacity: .7
}

.fb_dialog_vert_left,
.fb_dialog_vert_right {
    width: 10px;
    height: 100%
}

.fb_dialog_vert_left {
    margin-left: -10px
}

.fb_dialog_vert_right {
    right: 0;
    margin-right: -10px
}

.fb_dialog_horiz_top,
.fb_dialog_horiz_bottom {
    width: 100%;
    height: 10px
}

.fb_dialog_horiz_top {
    margin-top: -10px
}

.fb_dialog_horiz_bottom {
    bottom: 0;
    margin-bottom: -10px
}

.fb_dialog_iframe {
    line-height: 0
}

.fb_dialog_content .dialog_title {
    background: #6d84b4;
    border: 1px solid #3a5795;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0
}

.fb_dialog_content .dialog_title>span {
    background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
    float: left;
    padding: 5px 0 7px 26px
}

body.fb_hidden {
    transform: none;
    height: 100%;
    margin: 0;
    overflow: visible;
    position: absolute;
    top: -10000px;
    left: 0;
    width: 100%
}

.fb_dialog.fb_dialog_mobile.loading {
    background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 10001
}

.fb_dialog.fb_dialog_mobile.loading.centered {
    width: auto;
    height: auto;
    min-height: initial;
    min-width: initial;
    background: none
}

.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
    width: 100%
}

.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
    background: none
}

.loading.centered #fb_dialog_loader_close {
    color: #fff;
    display: block;
    padding-top: 20px;
    clear: both;
    font-size: 18px
}

#fb-root #fb_dialog_ipad_overlay {
    background: rgba(0, 0, 0, .45);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 10000
}

#fb-root #fb_dialog_ipad_overlay.hidden {
    display: none
}

.fb_dialog.fb_dialog_mobile.loading iframe {
    visibility: hidden
}

.fb_dialog_content .dialog_header {
    box-shadow: white 0 1px 1px -1px inset;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));
    border-bottom: 1px solid;
    border-color: #1d4088;
    color: #fff;
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
    text-overflow: ellipsis;
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
    vertical-align: middle;
    white-space: nowrap
}

.fb_dialog_content .dialog_header table {
    -webkit-font-smoothing: subpixel-antialiased;
    height: 43px;
    width: 100%
}

.fb_dialog_content .dialog_header td.header_left {
    font-size: 12px;
    padding-left: 5px;
    vertical-align: middle;
    width: 60px
}

.fb_dialog_content .dialog_header td.header_right {
    font-size: 12px;
    padding-right: 5px;
    vertical-align: middle;
    width: 60px
}

.fb_dialog_content .touchable_button {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));
    border: 1px solid #2f477a;
    background-clip: padding-box;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;
    display: inline-block;
    margin-top: 3px;
    max-width: 85px;
    line-height: 18px;
    padding: 4px 12px;
    position: relative
}

.fb_dialog_content .dialog_header .touchable_button input {
    border: none;
    background: none;
    color: #fff;
    font: 12px Helvetica, sans-serif;
    font-weight: bold;
    margin: 2px -12px;
    padding: 2px 6px 3px 6px;
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
}

.fb_dialog_content .dialog_header .header_center {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    vertical-align: middle
}

.fb_dialog_content .dialog_content {
    background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
    border: 1px solid #555;
    border-bottom: 0;
    border-top: 0;
    height: 150px
}

.fb_dialog_content .dialog_footer {
    background: #f6f7f8;
    border: 1px solid #555;
    border-top-color: #ccc;
    height: 40px
}

#fb_dialog_loader_close {
    float: left
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
    visibility: hidden
}

#fb_dialog_loader_spinner {
    animation: rotateSpinner 1.2s linear infinite;
    background-color: transparent;
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yD/r/t-wz8gw1xG1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 24px;
    width: 24px
}

@keyframes rotateSpinner {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.fb_iframe_widget {
    display: inline-block;
    position: relative
}

.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify
}

.fb_iframe_widget iframe {
    position: absolute
}

.fb_iframe_widget_fluid_desktop,
.fb_iframe_widget_fluid_desktop span,
.fb_iframe_widget_fluid_desktop iframe {
    max-width: 100%
}

.fb_iframe_widget_fluid_desktop iframe {
    min-width: 220px;
    position: relative
}

.fb_iframe_widget_lift {
    z-index: 1
}

.fb_hide_iframes iframe {
    position: relative;
    left: -10000px
}

.fb_iframe_widget_loader {
    position: relative;
    display: inline-block
}

.fb_iframe_widget_fluid {
    display: inline
}

.fb_iframe_widget_fluid span {
    width: 100%
}

.fb_iframe_widget_loader iframe {
    min-height: 32px;
    z-index: 2;
    zoom: 1
}

.fb_iframe_widget_loader .FB_Loader {
    background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;
    height: 32px;
    width: 32px;
    margin-left: -16px;
    position: absolute;
    left: 50%;
    z-index: 4
}

input[type=text],
input[type=email],
input[type=url],
input[type=number],
input[type=tel],
select {
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    height: 34px;

    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: start;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    transition-delay: 0s, 0s;
    transition-duration: 0.15s, 0.15s;
    transition-property: border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out;
    ;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    cursor: auto;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.form_label {
    text-align: left;
}

.form_label.required {
    font-weight: bold;
}