{% extends 'base.html' %}

{% load bootstrap %}
{% load humanize %}

{% block title %}Adsrental | Lead {{ lead.email }} stats{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Lead {{ lead.email }} stats</h1>
            <p>
                <form action="{% url 'user_logout'%}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-lg btn-primary">Logout</button>
                </form>
            </p>

            <h3>General info</h3>

            <p>Address: {{ lead.get_address }}</p>

            {% if raspberry_pi %}
                <h3>Adbox device {{ raspberry_pi.rpid }}</h3>
                {% if lead.delivery_date %}
                    <div class="alert alert-info">
                        <p>
                            Your Adbox was sucessfully <strong>delivered</strong> {{ lead.delivery_date|naturalday }}
                        </p>
                        {% if lead.usps_tracking_code %}
                            <p>
                                USPS tracking #: {{ lead.usps_tracking_code }}
                            </p>
                        {% endif %}
                    </div>
                {% else %}
                    {% if lead.ship_date %}
                        <div class="alert alert-info">
                            <p>
                                Your Adbox was sucessfully <strong>shipped</strong> {{ lead.ship_date|naturalday }}
                            </p>
                            {% if lead.usps_tracking_code %}
                                <p>
                                    USPS tracking #: {{ lead.usps_tracking_code }}
                                </p>
                            {% endif %}
                        </div>
                    {% else %}
                        {% if not raspberry_pi.first_seen %}
                            <div class="alert alert-danger">
                                Your Adbox was not <strong>shipped</strong> yet
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if raspberry_pi.first_seen %}
                    <div class="alert alert-info">
                        Device not appeared online <strong>{{ raspberry_pi.first_seen|naturaltime }}</strong> for the first time.
                    </div>
                {% else %}
                    <div class="alert alert-info">
                            Device has not appeared online yet.
                    </div>
                {% endif %}
                {% if raspberry_pi.online %}
                    <div class="alert alert-success">
                        Your Adbox is <strong>online</strong>
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        <p>
                            Your Adbox went <strong>offline {{ raspberry_pi.last_seen|naturaltime }}</strong>
                        </p>
                        <p>
                            <strong>Use the following instructions:</strong>
                            <ol>
                                <li>Disconnect device's power plug and connect again.</li>
                                <li>Wait 30 seconds.</li>
                                <li>Check that red LED is ON and green LED is blinking on the device. If it is not blinking - contact us.</li>
                                <li>Check this page again in 2 minutes.</li>
                                <li>If you still see this message - contact us.</li>
                            </ol>
                        </p>
                    </div>
                {% endif %}
            {% else %}
                <h3>Adbox device</h3>
                <div class="alert alert-danger">
                    <strong>Error!</strong> Adbox device not found. Please contact us.
                </div>
            {% endif %}

            <h3>Accounts</h3>

            {% for lead_account in lead_accounts %}
                {% if lead_account.is_active %}
                    <div class="alert alert-info">
                        <p>
                            Your {{ lead_account.account_type }} account {{ lead_account.username }} is <strong>{{lead_account.status}}</strong>
                        </p>
                        {% if lead_account.is_wrong_password %}
                            <p>
                                Password is reported as <strong>incorrect {{ lead_account.wrong_password_date|naturaltime }}</strong>.
                            </p> 
                            <p>
                                <form class="form-inline" action="{% url 'user_fix_password' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="lead_account_id" value="{{ lead_account.id  }}">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <input type="text" name="new_password" class="form-control" placeholder="New password">
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-2">Fix password</button>
                                </form>
                            </p>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        <p>
                            Your {{ lead_account.account_type }} account {{ lead_account.username }} is <strong>not rented</strong>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}