# Base
*.sqlite3
.DS_Store
.idea
__pycache__
node_modules
.vscode
venv
/static
dbdata1
/pip_cache/http
/pip_cache/wheels

**/*.pyc

# Migrations
# **/migrations/*
# !**/migrations/__init__.py
dropins
php/log/*
!php/log/placeholder.txt
php/apache_logs/*
!php/apache_logs/placeholder.txt
php/uploads/photo_ids/*
!php/uploads/photo_ids/placeholder.txt
