django==2.0.6
django-extensions==2.0.7
django-cors-headers==2.2.0
django-storages==1.6.6
django-smtp-ssl==1.0
pymysql==0.8.1
werkzeug==0.14.1
boto3==1.7.40
django-bootstrap-form==3.4
customerio==0.4
shipstation==0.1.2
django-recaptcha2==1.0.3
paramiko==2.4.1
ipython==6.4.0
django-bootstrap3==10.0.1
unicodecsv==0.14.1
django-admin-tools==0.8.1
django-redis==4.9.0
django-bulk-update==2.2.0
django-debug-toolbar==1.9.1
xhtml2pdf==0.2.2
django-anymail[mailgun]==3.0
