{% extends 'base.html' %}

{% load bootstrap %}
{% load humanize %}
{% load helpers %}

{% block title %}Adsrental | Bundler Reports List{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'bookkeeper_report_preview' %}" class="btn btn-primary">Preview new report</a>
    <h3>Reports</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Paid</th>
                <th>Reports</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.date|date }}</td>
                <td>
                    {% if report.paid %}
                        <span class="glyphicon glyphicon-ok" style="color: lightgreen;"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-remove" style="color: red;"></span>
                        <a class="btn btn-primary" href="{% url 'bookkeeper_report_mark_as_paid' report_id=report.id %}">Mark as paid</a>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ report.pdf.url|safe }}">PDF</a>
                    <a class="btn btn-default"  href="{% url 'bookkeeper_report_view' report_id=report.id %}">HTML</a>
                </td>
                <td>
                    {% if report.email_sent %}
                        <a class="btn btn-default disabled" disabled>Email sent</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'bookkeeper_report_send_emails' report_id=report.id %}">Send by email</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
