{% extends 'base.html' %}

{% load bootstrap %}
{% load humanize %}
{% load helpers %}

{% block title %}Adsrental | Lead accounts{% endblock %}

{% block content %}
<div class="">
    <div class="col-md-10">
        <h3>Filter presets</h3>
        <div class="btn-group" role="group">
            <a href="{% url 'dashboard' %}?lead_status=In-Progress&amp;preset=offline&amp;raspberry_pi_status=offline" type="button" class="btn {% if preset == 'offline' %}btn-primary{% else %} btn-default{% endif %}">
                In-Progress Offline
            </button>
            <a href="{% url 'dashboard' %}?lead_status=In-Progress&amp;preset=wrong_password&amp;wrong_password=yes" type="button" class="btn {% if preset == 'wrong_password' %}btn-primary{% else %} btn-default{% endif %}">
                In-Progress with Wrong Password
            </button>
            <a href="{% url 'dashboard' %}?lead_status=In-Progress&amp;preset=security_checkpoint&amp;security_checkpoint=yes" type="button" class="btn {% if preset == 'security_checkpoint' %}btn-primary{% else %} btn-default{% endif %}">
                In-Progress with Security checkpoint reported
            </a>
            <a href="{% url 'dashboard' %}?pi_delivered=last_2_14_days&amp;pi_connected=false&amp;preset=not_connected" type="button" class="btn {% if preset == 'not_connected' %}btn-primary{% else %} btn-default{% endif %}">
                Delivered not connected 2-14 days
            </a>
        </div>
        <h3>{{total}} Lead Account{{ total|pluralize }}</h3>
        <table id="results" class="table table-striped" style="font-size: 60%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th><a href="{% relative_url request.GET.urlencode 'order' 'lead__first_name' %}">Lead</a></th>
                    <th><a href="{% relative_url request.GET.urlencode 'order' 'username' %}">Username</a></th>
                    <th><a href="{% relative_url request.GET.urlencode 'order' 'lead__raspberry_pi__rpid' %}">RPID</a></th>
                    <th><a href="{% relative_url request.GET.urlencode 'order' '-created' %}">Created</a></th>
                    <th><a href="{% relative_url request.GET.urlencode 'order' 'lead__bundler__utm_source' %}">UTM</a></th>
                    <th><a href="{% relative_url request.GET.urlencode 'order' 'account_type' %}">Type</a></th>
                    <th><a href="{% relative_url request.GET.urlencode 'order' 'status' %}">Status</a></th>
                    <th><a href="{% relative_url request.GET.urlencode 'order' 'lead__phone' %}">Phone</a></th>
                    <th>Address</th>
                    <th>Online</th>
                    <th><a href="{% relative_url request.GET.urlencode 'order' '-lead__raspberry_pi__first_seen' %}">First Seen</a></th>
                    <th><a href="{% relative_url request.GET.urlencode 'order' '-lead__raspberry_pi__last_seen' %}">Last Seen</a></th>
                    <th><a href="{% relative_url request.GET.urlencode 'order' '-qualified_date' %}">Qualified</a></th>
                    <th>Bundler Paid</th>
                    <th>Wrong Password</th>
                    <th>Security Checkpoint</th>
                    <th>Pi delivered</th>
                    <th>Sent</th>
                </tr>
            </thead>
            {% if entries %}
                <tbody>
                    {% for entry in entries %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ entry.lead.name }}</td>
                            <td>{{ entry.username }}</td>
                            <td>{{ entry.lead.raspberry_pi.rpid }}</td>
                            <td>{{ entry.created|date:'d M Y H:i' }}</td>
                            <td>{{ entry.lead.bundler.utm_source }}</td>
                            <td>{{ entry.get_account_type_display }}</td>
                            <td>
                                {{ entry.get_status_display }}
                                {% if entry.ban_reason %}
                                    {% if entry.ban_reason in entry.POLICY_BAN_REASONS %}
                                        (Ads completed)
                                    {% else %}
                                        ({{entry.get_ban_reason_display}}) 
                                    {% endif %}
                                {% endif %}
                                {% if entry.account_url %}
                                    <a href="{{ entry.account_url }}">URL</a>
                                {% endif %}
                                {% if entry.status == entry.STATUS_AVAILABLE %}
                                    <a class="btn btn-default btn-xs" href="{% url 'dashboard_disqualify' lead_account_id=entry.id %}?next={{ request.get_full_path|urlencode }}">Disqualify</a>
                                {% endif %}
                            </td>
                            <td>{{ entry.lead.phone }}</td>
                            <td>
                                {{ entry.lead.get_address }}
                                {% if entry.lead.usps_tracking_code %}
                                    <br />    
                                    USPS: {{entry.lead.usps_tracking_code}}
                                {% endif %}
                                {% if entry.lead.is_order_on_hold %}
                                    <a href="{% url 'dashboard_change_address' lead_id=entry.lead.leadid %}">Fix</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if entry.lead.raspberry_pi.online %}
                                    <span class="glyphicon glyphicon-ok" style="color: lightgreen;"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-remove" style="color: red;"></span>
                                {% endif %}
                            </td>
                            <td title="{{ entry.lead.raspberry_pi.get_first_seen }}">{{entry.lead.raspberry_pi.get_first_seen|naturaltime|default:"Never"}}</td>
                            <td title="{{ entry.lead.raspberry_pi.get_last_seen }}">{{entry.lead.raspberry_pi.get_last_seen|naturaltime|default:"Never"}}</td>
                            <td title="{{ entry.qualified_date }}">{{entry.qualified_date|naturaltime|default:"Never"}}</td>
                            <td>
                                {% if entry.bundler_paid %}
                                    <span class="glyphicon glyphicon-ok" style="color: lightgreen;"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-remove" style="color: red;"></span>
                                {% endif %}
                            </td>
                            <td>
                                {% if entry.is_wrong_password %}
                                    <span class="glyphicon glyphicon-ok" style="color: red;"></span>
                                    {% if entry.wrong_password_change_counter < entry.MAX_WRONG_PASSWORD_CHANGE_COUNTER %}
                                        <a target="_blank" href="{% url 'dashboard_set_password' lead_account_id=entry.id %}">Fix</a>
                                    {% endif %}
                                {% else %}
                                    <span class="glyphicon glyphicon-remove" style="color: lightgreen;"></span>
                                {% endif %}   
                            </td>
                            <td>
                                {% if entry.is_security_checkpoint_reported %}
                                    <span class="glyphicon glyphicon-ok" style="color: red;"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-remove" style="color: lightgreen;"></span>
                                {% endif %}   
                            </td>
                            <td>
                                {% if entry.lead.delivery_date %}
                                    <span class="glyphicon glyphicon-ok" style="color: lightgreen;" title="{{ entry.lead.delivery_date|naturalday|default:"Never" }}"></span>
                                {% else %}
                                    {% if entry.lead.pi_delivered %}
                                        <span class="glyphicon glyphicon-remove" style="color: lightgreen;" title="No delivery date"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove" style="color: red;" title="Not delivered yet"></span>
                                    {% endif %}
                                {% endif %}           
                            </td>
                            <td>
                                {% if entry.lead.ship_date %}
                                    <span class="glyphicon glyphicon-ok" style="color: lightgreen;" title="{{entry.lead.ship_date|naturalday|default:"Never"}}"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-remove" style="color: red;"</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tfoot>
                    <tr>
                        <th colspan="100">No entries found</th>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
        {% if entries.has_other_pages %}
          <ul class="pagination">
            {% if entries.has_previous %}
              <li><a href="{% relative_url request.GET.urlencode 'page' entries.previous_page_number %}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in entries.paginator.page_range %}
              {% if entries.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="{% relative_url request.GET.urlencode 'page' i %}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if entries.has_next %}
              <li><a href="{% relative_url request.GET.urlencode 'page' entries.next_page_number %}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </div>
    <div class="col-md-2">
        <form role="form" action="" method="GET" class="form-horizontal">
            {{ form|bootstrap }}
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </div>
        </form>
    </div>
        
{% endblock %}
