#changelist table thead th {
    padding: 0px;
    font-size: 11px;
}

#changelist table tbody th {
    white-space: nowrap;
}

#changelist table tbody td {
    padding: 8px 3px;
    font-size: 11px;
    white-space: nowrap;
}

#changelist table tbody a {
    font-size: 11px;
}

#content-main {
    width: auto;
}

#content {
    padding: 20px 0px;
}

.has_note {
    border-bottom: 1px dashed gray;
    cursor: pointer;
}
