{% extends "base.html" %}

{% load bootstrap %}

{% block title %}Fix lead account issue{% endblock %}

{% block content %}
    <div class="container">
        <h1>Fix {{ lead_account_issue.get_issue_type_display }} issue for {{ lead_account_issue.lead_account }}</h1>
        {% if lead_account_issue.note %}
            <h3>Log</h3>
            {% for line in lead_account_issue.get_note_lines %}
                <p>{{ line }}</p>
            {% endfor %}
        {% endif %}
        {% if lead_account_issue.images.count %}
            <h3>Images</h3>
            {% for image in lead_account_issue.images.all %}
                <a href="{{ image.image.url }}" target="_blank">
                    <img src="{{ image.image.url }}" width="300px" />
                </a>
            {% endfor %}
        {% endif %}
        {% if lead_account_issue.can_be_fixed %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form %}
                    {{ form|bootstrap }}
                {% endif %}
                <button type="submit" class="btn btn-primary">Fix</button>
            </form>
        {% else %}
            <p>Fix has been submitted for approval.</p>
        {% endif %}
        {% if lead_account_issue.can_be_resolved %}
            {% if request.user.is_superuser %}
                <a class="btn btn-primary" href="{%url 'admin_helpers:resolve_lead_account_issue' lead_account_issue_id=lead_account_issue.id %}">Resolve / Reject as admin</a>
            {% endif %}
            <a class="btn btn-primary" href="{%url 'bundler_reject_lead_account_issue' lead_account_issue_id=lead_account_issue.id %}">Reject</a>
        {% endif %}
        <a href="{% url 'bundler_issues_dashboard' %}" class="btn btn-default">Back to issues dashboard</a>
    </div>
{% endblock %}
