{% extends "base.html" %}

{% load bootstrap %}

{% block title %}Fix lead account issue{% endblock %}

{% block content %}
    <div class="container">
        <h1>Fix {{ lead_account_issue.get_issue_type_display }} issue for {{ lead_account_issue.lead_account }}</h1>
        {% if can_be_fixed %}
        <form action="" method="post">
            {% csrf_token %}
            {% if form %}
                {{ form|bootstrap }}
            {% endif %}
            <button type="submit" class="btn btn-primary">Fix</button>
        </form>
        {% else %}
            <p>Fix has been submitted for approval.</p>
        {% endif %}
    </div>
{% endblock %}
