{% extends "base.html" %}

{% load bootstrap %}
{% load helpers %}

{% block title %}Lead account issues{% endblock %}

{% block content %}
    <div class="container">
        {% if lead_account %}
            <h2>Lead account {{ lead_account }} issues</h2>
            <p>
                <a href="{% url 'bundler_issues_dashboard' %}" class="btn btn-primary">Show all lead accounts</a>
            </p>
        {% else %}
            <h2>Lead account issues</h2>
        {% endif %}
        
        <form role="form" action="" method="GET">
            {{ form|bootstrap }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>

        {% if issues %}
            <table id="results" class="table table-striped">
                <thead>
                    <tr>
                        <th>Time elapsed</th>
                        <th>Account type</th>
                        <th>Lead name</th>
                        <th>Bundler</th>
                        <th>Issue</th>
                        <th>Status</th>
                        <th>Notes</th>
                        <th>Old value</th>
                        <th>New value</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for issue in issues %}
                        <tr>
                            <td>{{ issue.get_time_elapsed|humanize_timedelta:'short' }}</td>
                            <td>{{ issue.lead_account.account_type }}</td>
                            <td>
                                <a target="_blank" href="{% url 'bundler_issues_dashboard' lead_account_id=issue.lead_account.id %}">
                                    {{ issue.lead_account.lead.name }}
                                </a>
                            </td>
                            <td>{{ issue.lead_account.lead.bundler.name }}</td>
                            <td>{{ issue.get_issue_type_display }}</td>
                            <td>{{ issue.get_status_display }}</td>
                            <td>-</td>
                            <td>{{ issue.get_old_value|default:"-" }}</td>
                            <td>{{ issue.new_value|default:"-" }}</td>
                            <td>
                                {% if issue.can_be_fixed %}
                                    <a class="btn btn-primary btn-xs" href="{% url 'bundler_fix_lead_account_issue' lead_account_issue_id=issue.id %}?next={{ request.get_full_path|urlencode }}">Fix</a>
                                {% endif %}
                                {% if issue.can_be_resolved %}
                                    <a class="btn btn-default btn-xs" href="{% url 'bundler_reject_lead_account_issue' lead_account_issue_id=issue.id %}?next={{ request.get_full_path|urlencode }}">Reject</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No issues found
        {% endif %}
    </div>
{% endblock %}
