{% load static %}

{% block doc %}

<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{% block html %}
  <head>
    {% block head %}
      <title>{% block title %}RentYourSocialMedia{% block title_extra %}{% endblock title_extra %}{% endblock title %}</title>
      <link rel="shortcut icon" href="{% static 'images/landing/logo.png' %}">

      {% block metas %}
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endblock metas %}

      {% block styles %}
          <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      {% endblock styles %}
    {% endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body %}
    {% block navbar %}
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                {% if user.is_authenticated %}
                    <a class="navbar-brand" href="{% url "home" %}">Logged in to RentYourSocialMedia as {{user.email}}</a>
                {% else %}
                <a class="navbar-brand" href="{% url "home" %}">RentYourSocialMedia</a>
                {% endif %}
            </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url "logout" %}">Logout</a></li>
                    {% endif %}
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </nav>
    {% endblock navbar %}
    {% block content %}
    {% endblock content %}

    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock scripts %}
    {% endblock body %}
  </body>
{% endblock html %}
</html>
{% endblock doc %}