{% extends 'base.html' %}

{% load bootstrap %}
{% load humanize %}
{% load helpers %}

{% block title %}Adsrental | Bundler Lead Payments{% endblock %}

{% block content %}

<div class="container">
    {% for data in bundlers_data %}
        <h3>
            Bundler {{ data.bundler }} (UTM source {{ data.bundler.utm_source }}) paid report {{ end_date }}
            {% if not data.bundler.is_active %}(disabled){% endif %}
        </h3>
        {% block actions_buttons %}
            <a href="{% url 'bundler_payments' bundler_id=data.bundler.id %}?pdf=true"><button class="btn btn-secondary">Download PDF</button></a>
        {% endblock actions_buttons %}
        {% if data.facebook_entries %}
            <h4>Facebook accounts</h4>
            {% include 'include/bundler_lead_payments_table.html' with entries=data.facebook_entries chargeback_total=data.facebook_chargeback_total total=data.facebook_total final_total=data.facebook_final_total %}
        {% endif %}


        {% if data.google_entries %}
            <h4>Google accounts</h4>
            {% include 'include/bundler_lead_payments_table.html' with entries=data.google_entries chargeback_total=data.google_chargeback_total total=data.google_total final_total=data.google_final_total %}
        {% endif %}

        <h4>Total: ${{ data.total|floatformat:2 }}</h4>
    {% endfor %}
    <h3>Total for all bundlers: ${{ total|floatformat:2 }}</h3>
{% endblock %}
