{% extends 'base.html' %}

{% load bootstrap %}
{% load humanize %}
{% load helpers %}

{% block title %}Adsrental | Bundler Dashboard{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

<div class="container">
    <h3>Leads by qualified date</h3>

    <canvas id="myChart" style="width: 900px; height: 300px;"></canvas>

    <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var labels = JSON.parse('{{ entries_keys_json|escapejs }}');
    var data = JSON.parse('{{ entries_values_json|escapejs }}');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Qualified leads by date',
                data: data,
                backgroundColor: 'rgba(44, 44, 255, 0.2)',
                borderColor: 'rgba(44, 44, 255, 0.8)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>
{% endblock %}
