{% extends 'base.html' %}

{% load bootstrap %}
{% load humanize %}
{% load helpers %}
{% load static %}

{% block title %}Adsrental | Bundler Dashboard{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="{% static 'scripts/jquery.min.js' %}"></script>

<div class="container">
    <h3>Leads by qualified date for UTM source {{ bundler.utm_source }}</h3>

    <h4>Rank cross all bundlers: {% if rank %}{{rank|ordinal}}{% else %}n/a{% endif%}</h4>
    <h4>Total accounts in progress: {{bundler_lead_stat.in_progress_total}}</h4>
    <h4>Total accounts qualified today: {{lead_accounts_today_total}}</h4>

    <h3>Qualified leads today</h3>
    <canvas id="today_chart" style="width: 900px; height: 300px;"></canvas>

    <h3>Qualified leads yesterday</h3>
    <canvas id="yesterday_chart" style="width: 900px; height: 300px;"></canvas>

    <h3>Qualified leads last week ({{last_week_start|date:'d M'}} - {{last_week_end|date:'d M'}})</h3>
    <canvas id="week_chart" style="width: 900px; height: 300px;"></canvas>

    <h3>Qualified leads last month ({{last_month_start|date:'d M'}} - {{last_month_end|date:'d M'}})</h3>
    <canvas id="month_chart" style="width: 900px; height: 300px;"></canvas>

    <script>
        var chartColors = {
            red: "rgb(255, 99, 132)",
            orange: "rgb(255, 159, 64)",
            yellow: "rgb(255, 205, 86)",
            green: "rgb(75, 192, 192)",
            blue: "rgb(54, 162, 235)",
            purple: "rgb(153, 102, 255)",
        }
        var chartColorsList = ['orange', 'yallow', 'green', 'blue', 'purple'];

        function buildLabels(data, currentLabel){
            var labels = [];
            var d = {};
            var currentPresent = false;
            $.each(data, function(_, value){
                var label = value[0];
                if (label === currentLabel){
                    currentPresent = true;
                } else{
                    labels.push(label);
                }
            });
            if (currentPresent) {
                labels.unshift(currentLabel);
            }
            return labels;
        }
        function buildValues(data, labels){
            var values = [];
            $.each(labels, function(_, label){
                values.push(data[label] || 0);
            });
            return values;
        }
        function buildDatasets(data, labels, currentKey) {
            var datasets = [];
            var keys = [];
            var dataDict = {};
            $.each(data, function(_, value){
                dataDict[value[0]] = value[1];
            })
            var values = buildValues(dataDict, labels);
            return [{
                label: '',
                data: values,
                fill: false,
                backgroundColor: [
                    chartColors.red,
                    chartColors.orange,
                    chartColors.yellow,
                    chartColors.blue,
                    chartColors.purple,
                    chartColors.red,
                    chartColors.orange,
                    chartColors.yellow,
                    chartColors.blue,
                    chartColors.purple,
                    chartColors.red,
                    chartColors.orange,
                    chartColors.yellow,
                    chartColors.blue,
                    chartColors.purple,
                    chartColors.red,
                    chartColors.orange,
                    chartColors.yellow,
                    chartColors.blue,
                    chartColors.purple,
                    chartColors.red,
                    chartColors.orange,
                    chartColors.yellow,
                    chartColors.blue,
                    chartColors.purple,
                ],
                borderColor: [
                    chartColors.red,
                    chartColors.orange,
                    chartColors.yellow,
                    chartColors.blue,
                    chartColors.purple,
                    chartColors.red,
                    chartColors.orange,
                    chartColors.yellow,
                    chartColors.blue,
                    chartColors.purple,
                    chartColors.red,
                    chartColors.orange,
                    chartColors.yellow,
                    chartColors.blue,
                    chartColors.purple,
                    chartColors.red,
                    chartColors.orange,
                    chartColors.yellow,
                    chartColors.blue,
                    chartColors.purple,
                    chartColors.red,
                    chartColors.orange,
                    chartColors.yellow,
                    chartColors.blue,
                    chartColors.purple,
                ],
            }];
        }

        var createChart = function(id, data, current_utm_source) {
            var labels = buildLabels(data, current_utm_source);
            var datasets = buildDatasets(data, labels, current_utm_source);
            var maxValue = 0;
            $.each(datasets, function(_, dataset){
                $.each(dataset.data, function(_, value){
                    maxValue = Math.max(value, maxValue);
                });
            });
            var ticks = {
                beginAtZero:true,
                suggestedMax: 5,
                min: 0,
                stepSize: 1,
            }
            if (maxValue > 10) {
                ticks = {
                    beginAtZero:true,
                    min: 0
                }
            }
            var chart = new Chart(document.getElementById(id).getContext('2d'), {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: datasets,
                },
                options: {
                    legend: {
                        display: false,
                    },
                    scales: {
                        yAxes: [{
                            ticks: ticks
                        }],
                        xAxes: [{
                            ticks: {
                                autoSkip: false
                            }
                        }]
                    }
                }
            });
            return chart;
        }

        var current_utm_source = '{{ bundler.utm_source }}';

        var month_data = JSON.parse('{{ month_entries_json|escapejs }}');
        createChart("month_chart", month_data, current_utm_source);

        var week_data = JSON.parse('{{ week_entries_json|escapejs }}');
        createChart("week_chart", week_data, current_utm_source);

        var today_data = JSON.parse('{{ today_entries_json|escapejs }}');
        createChart("today_chart", today_data, current_utm_source);

        var yesterday_data = JSON.parse('{{ yesterday_entries_json|escapejs }}');
        createChart("yesterday_chart", yesterday_data, current_utm_source);
    </script>
{% endblock %}
