{% extends 'base.html' %}

{% load bootstrap %}
{% load humanize %}
{% load helpers %}

{% block title %}Adsrental | Bundler Dashboard{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

<div class="container">
    <h3>Leads by qualified date for UTM source {{ bundler.utm_source }}</h3>

    <h4>Rank cross all bundlers: {{rank|ordinal}}</h4>
    <h4>Total accounts in progress: {{bundler_lead_stat.in_progress_total}}</h4>

    <canvas id="month_chart" style="width: 900px; height: 300px;"></canvas>
    <br>
    <br>
    <canvas id="week_chart" style="width: 900px; height: 300px;"></canvas>
    <br>
    <br>
    <canvas id="day_chart" style="width: 900px; height: 300px;"></canvas>

    <script>
        var month_labels = JSON.parse('{{ month_entries_keys_json|escapejs }}');
        var month_data = JSON.parse('{{ month_entries_values_json|escapejs }}');
        var day_labels = JSON.parse('{{ day_entries_keys_json|escapejs }}');
        var day_data = JSON.parse('{{ day_entries_values_json|escapejs }}');
        var week_labels = JSON.parse('{{ week_entries_keys_json|escapejs }}');
        var week_data = JSON.parse('{{ week_entries_values_json|escapejs }}');
        var monthChart = new Chart(document.getElementById("month_chart").getContext('2d'), {
            type: 'bar',
            data: {
                labels: month_labels,
                datasets: [{
                    label: 'Qualified leads last month',
                    data: month_data,
                    backgroundColor: 'rgba(44, 44, 255, 0.2)',
                    borderColor: 'rgba(44, 44, 255, 0.8)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        var weekChart = new Chart(document.getElementById("week_chart").getContext('2d'), {
            type: 'bar',
            data: {
                labels: week_labels,
                datasets: [{
                    label: 'Qualified leads last 7 days',
                    data: week_data,
                    backgroundColor: 'rgba(44, 44, 255, 0.2)',
                    borderColor: 'rgba(44, 44, 255, 0.8)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        var dayChart = new Chart(document.getElementById("day_chart").getContext('2d'), {
            type: 'bar',
            data: {
                labels: day_labels,
                datasets: [{
                    label: 'Qualified leads lat 24 hours',
                    data: day_data,
                    backgroundColor: 'rgba(44, 44, 255, 0.2)',
                    borderColor: 'rgba(44, 44, 255, 0.8)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}
