{% extends 'base.html' %}

{% load bootstrap %}
{% load humanize %}
{% load helpers %}

{% block title %}Adsrental | Bundler Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h3>Leads by qualified date</h3>
    <table id="results" class="table table-striped">
        <thead>
            <tr>
                <th>Qualified date</th>
                <th>Number of leads</th>
            </tr>
        </thead>
        {% for entry in entries %}
            <tbody>
                <tr>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.count }}</td>
                </tr>
            </tbody>
        {% empty %}
            <tfoot>
                <tr>
                    <th colspan="100">No entries found</th>
                </tr>
            </tfoot>
        {% endfor %}
    </table>
{% endblock %}
