{% extends 'base.html' %}

{% load bootstrap %}
{% load humanize %}
{% load helpers %}

{% block title %}Adsrental | Bundler Payments{% endblock %}

{% block content %}

<div class="container">
    {% block actions_buttons %}
        {% if allow_change %}
            <a target="_blank" href="{% url 'bundler_payments' bundler_id='all' %}?save=true&amp;mark=true"><button class="btn btn-primary">Generate a new report</button></a>
        {% endif %}
    {% endblock actions_buttons %}

    {% if show_summary %}
        <h3>Summary</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Stat</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for data in payments_total_by_bundler %}
                    <tr>
                        <td>Bundler {{ data.bundler__name }}</td>
                        <td>${{ data.payment__sum }}</td>
                    </tr>
                {% endfor %}
                {% if payments_total.payment_facebook__sum %}
                    <tr>
                        <td>Total pay for Facebook accounts</td>
                        <td>${{ payments_total.payment_facebook__sum }}</td>
                    </tr>
                {% endif %}
                {% if payments_total.payment_google__sum %}
                    <tr>
                        <td>Total pay for Google accounts</td>
                        <td>${{ payments_total.payment_google__sum }}</td>
                    </tr>
                {% endif %}
                {% if payments_total.payment_amazon__sum %}
                    <tr>
                        <td>Total pay for Amazon accounts</td>
                        <td>${{ payments_total.payment_amazon__sum }}</td>
                    </tr>
                {% endif %}
                {% if payments_total.payment_bonus__sum %}
                    <tr>
                        <td>Total pay for bonuses</td>
                        <td>${{ payments_total.payment_bonus__sum }}</td>
                    </tr>
                {% endif %}
                {% if payments_total.payment__sum %}
                    <tr>
                        <td>Total pay</td>
                        <td>${{ payments_total.payment__sum }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No entries</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% endif %}

    {% for record in payments_total_by_bundler %}
        <h3>
            {% if show_bundler_name %}
                Bundler {{ record.bundler_name }} (UTM source {{ record.bundler__utm_source }}) paid report {{ end_date }}
            {% else %}
                UTM source {{ record.bundler__utm_source }} paid report {{ end_date }}
            {% endif %}
        </h3>
        {% if payments_by_bundler_id|get_key:record.bundler_id %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Lead</th>
                        <th>Account</th>
                        <th>Account type</th>
                        <th>In progress since</th>
                        <th>Status</th>
                        <th>Payment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments_by_bundler_id|get_key:record.bundler_id %}
                        <tr>
                            <td>
                                {% if show_bundler_name and not pdf %}
                                    <a target="_blank" href="{% url 'admin:adsrental_lead_changelist' %}?leadid={{ payment.lead_account.lead.leadid|urlencode }}">{{ payment.lead_account.lead.name }}</a>
                                {% else %}
                                    {{ payment.lead_account.lead.name }}
                                {% endif %}
                            </td>
                            <td>
                                {{ payment.lead_account.username }}
                            </td>
                            <td>
                                {{ payment.lead_account.account_type }}
                            </td>
                            <td>
                                {{ payment.lead_account.in_progress_date.date }}
                            </td>
                            <td>
                                {{ payment.lead_account.status }}
                            </td>
                            <td>
                                ${{payment.payment}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% if record.own_payment_facebook__sum %}
                        <tr>
                            <th colspan="5">Total Facebook</th>
                            <th>${{record.own_payment_facebook__sum}}</th>
                        </tr>
                    {% endif %}
                    {% if record.own_payment_google__sum %}
                        <tr>
                            <th colspan="5">Total Google</th>
                            <th>${{record.own_payment_google__sum}}</th>
                        </tr>
                    {% endif %}
                    {% if record.own_payment_amazon__sum %}
                        <tr>
                            <th colspan="5">Total Amazon</th>
                            <th>${{record.own_payment_amazon__sum}}</th>
                        </tr>
                    {% endif %}
                    <tr>
                        <th colspan="5">Total</th>
                        <th>${{record.own_payment__sum}}</th>
                    </tr>
                </tfoot>
            </table>
        {% endif %}

        {% if children_payments_by_bundler_id|get_key:record.bundler_id %}
            <h4>Payments from children bundlers</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Bundler</th>
                        <th>Lead</th>
                        <th>Account</th>
                        <th>Account type</th>
                        <th>In progress since</th>
                        <th>Status</th>
                        <th>Payment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in children_payments_by_bundler_id|get_key:record.bundler_id %}
                        <tr>
                            <td>
                                {% if show_bundler_name %}
                                    {{ payment.lead_account.lead.bundler.name }}
                                {% else %}
                                    {{ payment.lead_account.lead.bundler.utm_source }}
                                {% endif %}
                            </td>
                            <td>
                                {% if show_bundler_name and not pdf %}
                                    <a target="_blank" href="{% url 'admin:adsrental_lead_changelist' %}?leadid={{ payment.lead_account.lead.leadid|urlencode }}">{{ payment.lead_account.lead.name }}</a>
                                {% else %}
                                    {{ payment.lead_account.lead.name }}
                                {% endif %}
                            </td>
                            <td>
                                {{ payment.lead_account.username }}
                            </td>
                            <td>
                                {{ payment.lead_account.account_type }}
                            </td>
                            <td>
                                {{ payment.lead_account.in_progress_date.date }}
                            </td>
                            <td>
                                {{ payment.lead_account.status }}
                            </td>
                            <td>
                                ${{payment.payment}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% if record.children_payment_facebook__sum %}
                        <tr>
                            <th colspan="6">Total Facebook</th>
                            <th>${{record.children_payment_facebook__sum}}</th>
                        </tr>
                    {% endif %}
                    {% if record.children_payment_google__sum %}
                        <tr>
                            <th colspan="6">Total Google</th>
                            <th>${{record.children_payment_google__sum}}</th>
                        </tr>
                    {% endif %}
                    {% if record.children_payment_amazon__sum %}
                        <tr>
                            <th colspan="6">Total Amazon</th>
                            <th>${{record.children_payment_amazon__sum}}</th>
                        </tr>
                    {% endif %}
                    <tr>
                        <th colspan="6">Total</th>
                        <th>${{record.children_payment__sum}}</th>
                    </tr>
                </tfoot>
            </table>
        {% endif %}

        {% if record.payment_bonus__sum %}
            <h5>Bonus: ${{ record.payment_bonus__sum}}</h5> 
        {% endif %}
        <h4>Total: ${{ record.payment__sum}}</h4> 
    {% endfor %}
{% endblock %}
