{% extends 'base.html' %}

{% load bootstrap %}
{% load humanize %}
{% load helpers %}

{% block title %}Adsrental | Bundler Payments{% endblock %}

{% block content %}

<div class="container">
    {% for data in bundlers_data %}
        <h3>Bundler {{ data.bundler }} (UTM source {{ data.bundler.utm_source }}) paid report {{ end_date }}</h3>
        {% block actions_buttons %}
            {% if allow_change %}
                <form action="{% url 'bundler_payments' bundler_id=data.bundler.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button class="btn btn-primary">Mark as bundler paid</button>
                </form>
            {% endif %}
            <a target="_blank" href="{% url 'bundler_payments' bundler_id=data.bundler.id %}?pdf=true"><button class="btn btn-secondary">Download PDF</button></a>
        {% endblock actions_buttons %}

        {% include 'include/bundler_payments_table.html' with title='Facebook accounts' entries=data.facebook_entries chargeback_total=data.facebook_chargeback_total total=data.facebook_total final_total=data.facebook_final_total %}
        {% include 'include/bundler_payments_table.html' with title='Google accounts' entries=data.google_entries chargeback_total=data.google_chargeback_total total=data.google_total final_total=data.google_final_total %}


        <h4>Total: ${{ data.total|floatformat:2 }}</h4>
    {% endfor %}
    <h3>Total for all bundlers: ${{ total|floatformat:2 }}</h3>
{% endblock %}
