{% extends 'base.html' %}

{% load bootstrap %}
{% load humanize %}
{% load helpers %}

{% block title %}Adsrental | Bundler Check Report{% endblock %}

{% block content %}
<div class="container">
    <h3>Check report for UTM source {{ bundler.utm_source }} for {{ date_formatted }}</h3>

    <div class="btn-group" role="group" aria-label="Basic example">
        {% for select_date in select_dates %}
            <a href="{% url 'bundler_report_check' bundler_id=bundler.id %}?date={{ select_date|date:"Y-m-d" }}" class="btn btn-default {% if select_date == date %}btn-primary{% endif %}">{{ select_date|date:"M Y" }}</a>
        {% endfor %}
    </div>

    <table id="results" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>RPID</th>
                <th>Address</th>
                <th>Days online</th>
                <th>Days offline</th>
                <th>Days wrong password</th>
                <th>Max payment</th>
                <th>Amount</th>
                <th>Amount paid</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            {% for lead_history in lead_histories %}
                <tr>
                    <td>{{ lead_history.lead.name }}</td>
                    <td>{{ lead_history.lead.status }}</td>
                    <td>{{ lead_history.lead.raspberry_pi.rpid }}</td>
                    <td>{{ lead_history.lead.get_address }}</td>
                    <td>{{ lead_history.days_online }}</td>
                    <td>{{ lead_history.days_offline }}</td>
                    <td>{{ lead_history.days_wrong_password }}</td>
                    <td>${{ lead_history.max_payment }}</td>
                    <td>${{ lead_history.amount }}</td>
                    <td>${{ lead_history.amount_paid }}</td>
                    <td><a target="_blank" href="{% url 'bundler_report_check_days' bundler_id=bundler.id lead_id=lead_history.lead.leadid %}?date={{ date|date:"Y-m-d" }}">Timestamps</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th colspan="100" style="text-align: right;">${{ total }}</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}
