{% extends 'base.html' %}

{% load bootstrap %}
{% load humanize %}
{% load helpers %}
{% load static %}

{% block title %}Adsrental | Bundler Dashboard{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="{% static 'scripts/jquery.min.js' %}"></script>

<div class="container">
    <h3>Leads by qualified date for UTM source {{ bundler.utm_source }}</h3>

    <h4>Rank cross all bundlers: {{rank|ordinal}}</h4>
    <h4>Total accounts in progress: {{bundler_lead_stat.in_progress_total}}</h4>

    <h3>Qualified leads today</h3>
    <canvas id="today_chart" style="width: 900px; height: 300px;"></canvas>

    <h3>Qualified leads yesterday</h3>
    <canvas id="yesterday_chart" style="width: 900px; height: 300px;"></canvas>

    <h3>Qualified leads last week</h3>
    <canvas id="week_chart" style="width: 900px; height: 300px;"></canvas>

    <h3>Qualified leads last month</h3>
    <canvas id="month_chart" style="width: 900px; height: 300px;"></canvas>

    <script>
        var chartColors = {
            red: "rgb(255, 99, 132)",
            orange: "rgb(255, 159, 64)",
            yellow: "rgb(255, 205, 86)",
            green: "rgb(75, 192, 192)",
            blue: "rgb(54, 162, 235)",
            purple: "rgb(153, 102, 255)",
        }
        var chartColorsList = ['orange', 'yallow', 'green', 'blue', 'purple'];

        function buildValues(data, labels){
            var values = [];
            var d = {};
            $.each(data, function(_, value){
                d[value[0]] = value[1];
            })
            $.each(labels, function(_, label){
                values.push(d[label] || 0);
            });
            return values;
        }
        function buildDatasets(data, labels, currentKey) {
            var datasets = [];
            var keys = [];
            keys.push(currentKey);
            $.each(data, function(key, value){
                if (currentKey !== key) {
                    keys.push(key);
                }
            });
            $.each(keys, function(index, key){
                var value = data[key];
                var color = chartColorsList[index];
                if (currentKey === key) {
                    color = chartColors.red;
                }

                var values = buildValues(value, labels);
                datasets.push({
                    label: key,
                    data: values,
                    backgroundColor: color,
                    borderColor: color,
                    fill: false
                });
            });

            return datasets;
        }

        var current_utm_source = '{{ bundler.utm_source }}';

        var month_labels = JSON.parse('{{ month_entries_keys_json|escapejs }}');
        var month_data = JSON.parse('{{ month_entries_values_json|escapejs }}');
        var month_datasets = buildDatasets(month_data, month_labels, current_utm_source);

        var week_labels = JSON.parse('{{ week_entries_keys_json|escapejs }}');
        var week_data = JSON.parse('{{ week_entries_values_json|escapejs }}');
        var week_datasets = buildDatasets(week_data, week_labels, current_utm_source);

        var today_labels = JSON.parse('{{ today_entries_keys_json|escapejs }}');
        var today_data = JSON.parse('{{ today_entries_values_json|escapejs }}');
        var today_datasets = buildDatasets(today_data, today_labels, current_utm_source);

        var yesterday_labels = JSON.parse('{{ yesterday_entries_keys_json|escapejs }}');
        var yesterday_data = JSON.parse('{{ yesterday_entries_values_json|escapejs }}');
        var yesterday_datasets = buildDatasets(yesterday_data, yesterday_labels, current_utm_source);

        var monthChart = new Chart(document.getElementById("month_chart").getContext('2d'), {
            type: 'bar',
            data: {
                labels: month_labels,
                datasets: month_datasets,
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        var weekChart = new Chart(document.getElementById("week_chart").getContext('2d'), {
            type: 'bar',
            data: {
                labels: week_labels,
                datasets: week_datasets,
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        var todayChart = new Chart(document.getElementById("today_chart").getContext('2d'), {
            type: 'bar',
            data: {
                labels: today_labels,
                datasets: today_datasets,
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        var yesterdayChart = new Chart(document.getElementById("yesterday_chart").getContext('2d'), {
            type: 'bar',
            data: {
                labels: yesterday_labels,
                datasets: yesterday_datasets,
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}
