{% extends 'base.html' %}

{% load bootstrap %}
{% load humanize %}
{% load helpers %}

{% block title %}Adsrental | Bundler Payments{% endblock %}

{% block content %}

<div class="container">
    <h3>Bundler {{ bundler }} (UTM source {{ bundler.utm_source }}) paid report {{ end_date }}</h3>
    {% block actions_bunttons %}
        {% if allow_change %}
            <form action="{% url 'bundler_payments' bundler_id=bundler.id %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button class="btn btn-primary">Mark as bundler paid</button>
            </form>
            {% endif %}
        <a target="_blank" href="{% url 'bundler_payments' bundler_id=bundler.id %}?pdf=true"><button class="btn btn-secondary">Download PDF</button></a>
    {% endblock actions_bunttons %}
    {% if facebook_entries %}
        <h4>Facebook accounts</h4>
        {% include 'include/bundler_payments_table.html' with entries=facebook_entries chargeback_total=facebook_chargeback_total total=facebook_total final_total=facebook_final_total %}
    {% endif %}


    {% if google_entries %}
        <h4>Google accounts</h4>
        {% include 'include/bundler_payments_table.html' with entries=google_entries chargeback_total=google_chargeback_total total=google_total final_total=google_final_total %}
    {% endif %}

    <h4>Total: ${{ total|floatformat:2 }}</h4>
{% endblock %}
