{% extends 'base.html' %}

{% load static %}
{% load bootstrap %}

{% block title_extra %}| RDP connection to {{ rpid }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            {% if ec2_instance %}
                Connect to EC2 instance {{ rpid }}
            {% else %}
                Instance {{ rpid }} not found
            {% endif %}
        </h1>


        {% if ec2_instance %}
            <div id="client_message_container">
                <div class="alert alert-info check_instance_state" role="alert">Checking if RDP is in use...</div>
            </div>

            {% if is_ready %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        EC2 instance is {{ ec2_instance.status }} now!
                    </div>
                    <div class="panel-body">
                        <p>
                            <a target="_blank" href="{{ ec2_instance.get_web_rdp_link|safe }}" class="btn btn-primary btn-lg">View in Adsrental WebConnect</a>
                        </p>
                        <p>
                            <a href="{{ ec2_instance.get_windows_rdp_uri|safe }}" class="btn btn-default btn-lg">View in Windows RDP Client</a>
                        </p>
                        <p>If button above does not work, download and launch BAT script <a href="{% static 'scripts/install_rdp.bat' %}">from here</a></p>
                        <p>
                            <a href="{{ ec2_instance.get_rdp_uri|safe }}" class="btn btn-default">View in Mac/Android RDP Client</a>
                            <a href="{% url 'rdp' rpid=rpid %}" class="btn btn-default">Download RDP config file</a>
                        </p>
                        <p>
                            Username: <strong>Administrator</strong><br>
                            Password: <strong>{{ ec2_instance.password }}</strong>
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                            Prepairing EC2 instance. Please wait...
                    </div>
                    <div class="panel-body">
                        <h3>Waiting for {{ rpid}} to come online. It is {{ ec2_instance.status }} now.</h3>
                        <h3>This page will autoreload in <span class="countdown reload_enabled">30</span> seconds.</h3>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        
        <div class="panel panel-default">
            <div class="panel-heading">Select another RPID</div>
            <div class="panel-body">
                <form action="">
                    <input style="width: 100px;" type="text" name="rpid" value="{{ rpid }}" />
                    <button class="btn btn-default">Go</button>
                </form>
            </div>
        </div>
        <div>
            <a href="{% url 'home' %}">
                <button class="btn btn-lg btn-primary">Back to main page</button>
            </a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        if ($('.reload_enabled').length){
            var reloadInSeconds = 30;
            setTimeout(function(){
                document.location.reload();
            }, reloadInSeconds * 1000)
            setInterval(function(){
                if (reloadInSeconds > 0) {
                    reloadInSeconds -= 1;
                }
                $('.countdown').text(reloadInSeconds);
            }, 1000);
        }

        if ($('.check_instance_state').length) {
            var netstatURL = "{{ netstat_url }}";
            var checkEC2State = function(){
                $.get(netstatURL).done(function( data ) {
                    console.log( "Data Loaded: " + data );
                    console.log('check', netstatURL);
                    var reRDP = new RegExp("TCP\\s+\\d+.\\d+.\\d+.\\d+:23255\\s+\\S+\\s+ESTABLISHED");
                    if (reRDP.test(data)) {
                        $('#client_message_container').html('<div class="alert alert-danger check_instance_state" role="alert">Someone is using RDP now. I will check again in 10 seconds.</div>');
                        setTimeout(checkEC2State, 10000);
                    } else {
                        $('#client_message_container').html('<div class="alert alert-success check_instance_state" role="alert">No one is using RDP now, feel free to connect!</div>');
                    }
                });
            };

            checkEC2State();
        }
    </script>
{% endblock scripts %}