{% extends 'base.html' %}

{% load static %}
{% load bootstrap %}

{% block title_extra %}| RDP connection to {{ rpid }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            {% if ec2_instance %}
                Connect to EC2 instance {{ rpid }}
            {% else %}
                Instance {{ rpid }} not found
            {% endif %}
        </h1>

        {% if ec2_instance %}
            {% if ec2_instance.is_running %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        EC2 instance is {{ ec2_instance.status }} now!
                    </div>
                    <div class="panel-body">
                        <p>
                            <a href="{{ ec2_instance.get_windows_rdp_uri|safe }}" class="btn btn-primary btn-lg">View in Windows RDP Client</a>
                        </p>
                        <p>If button above does not work, download and launch BAT script <a href="{% static 'scripts/install_rdp.bat' %}">from here</a></p>
                        <p>
                            <a href="{{ ec2_instance.get_rdp_uri|safe }}" class="btn btn-default">View in Mac/Android RDP Client</a>
                            <a href="{% url 'rdp' rpid=rpid %}" class="btn btn-default">Download RDP config file</a>
                        </p>
                    </div>
                </div>
            {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                        Preapairing EC2 instance. Please wait...
                </div>
                <div class="panel-body">
                    <h3>Waiting for {{ rpid}} to come online. It is {{ ec2_instance.status }} now.</h3>
                    <h3>This page will autoreload in <span class="countdown">20</span> seconds.</h3>
                    <script>
                        var reloadInSeconds = 20;
                        setTimeout(function(){
                            document.location.reload();
                        }, 20000)
                        setInterval(function(){
                            if (reloadInSeconds > 0) {
                                reloadInSeconds -= 1;
                            }
                            $('.countdown').text(reloadInSeconds);
                        }, 1000);
                    </script>
                </div>
            </div>
            {% endif %}
        {% endif %}
        
        <div class="panel panel-default">
            <div class="panel-heading">Select another RPID</div>
            <div class="panel-body">
                <form action="">
                    <input style="width: 100px;" type="text" name="rpid" value="{{ rpid }}" />
                    <button class="btn btn-default">Go</button>
                </form>
            </div>
        </div>
        <div>
            <a href="{% url 'home' %}">
                <button class="btn btn-lg btn-primary">Back to main page</button>
            </a>
        </div>
    </div>
{% endblock %}
