{% extends 'base.html' %}

{% load bootstrap %}

{% block title_extra %} | Terms and conditions{% endblock %}

{% block content %}
    <div class="container">
        <p>ADVERTISING ASSOCIATE REMOTE
        ACCESS AND SERVICES AGREEMENT</p>
        <p>By your electronic
        signature, you expressly agree that (i) you desire to serve as an independent
        contractor (hereinafter “ADVERTISING ASSOCIATE”) by providing remote access and
        advertising services to FACEBOOK MEDIA, (ii) you have fully read, understand,
        and agree to abide by this Advertising Associate Remote Access and Services
        Agreement in connection with such remote access and advertising services, and (iii)
        your rights and remedies against or in connection with FACEBOOK MEDIA, its
        owners, principals, agents, representatives and/or related companies, as well
        as their respective obligations to you, are exclusively limited to those
        rights, remedies, and obligations set forth herein.&nbsp; </p>
        <p>1.&nbsp;&nbsp;&nbsp;&nbsp;
        Advertising
        Accounts; Remote Access. ADVERTISING
        ASSOCIATE shall establish advertiser accounts with social media sites (the “Accounts”) as reasonably requested by FACEBOOK
        MEDA from time to time. ADVERTISING ASSOCIATE acknowledges and agree that FACEBOOK
        MEDIA may access and use computer(s) on which the ADVERTISING ASSOCIATE has installed
        the remote access software provided by FACEBOOK MEDIA (the “Access Software”) to access and use the
        Accounts. FACEBOOK MEDIA hereby grants to ADVERTISING ASSOCIATE a limited,
        revocable, non-transferable, non-sublicensable license to install and use the
        Access Software solely in connection with your performance under this
        agreement. ADVERTISING ASSOCIATE shall not install the Access Software on any
        computer that is not owned and controlled by ADVERTISING ASSOCIATE.</p>
        <p>2.&nbsp;&nbsp;&nbsp;&nbsp;
        Fees. In consideration for the services by ADVERTISING
        ASSOCIATE to FACEBOOK MEDIA, FACEBOOK MEDIA shall pay ADVERTISING ASSOCIATE.</p>
        <p>3.&nbsp;&nbsp;&nbsp;&nbsp;
        Termination. Either party may terminate this agreement
        for any reason or no reason by providing at least 30 days advance written notice
        to the other party.&nbsp; Upon the effective
        date of termination, FACEBOOK MEDIA shall cease any access and use of ADVERTISING
        ASSOCIATE’s computer(s), and ADVERTISING ASSOCIATE’s license to install and use
        the Access Software shall terminate; however, all other provisions of this agreement
        shall remain in full force and effect. &nbsp;ADVERTISING
        ASSOCIATE shall not be entitled to any prospective profits or damages because
        of FACEBOOK MEDIA’s termination of this agreement.&nbsp; Upon termination, ADVERTISING ASSOCIATE shall
        deliver immediately to FACEBOOK MEDIA any document and materials containing
        Confidential Information (as defined in Section 6 below) and all work product,
        including all copies or excerpts thereof.&nbsp;
        ADVERTISING ASSOCIATE will remove the Access Software from any
        computer(s) on which it is installed, and [delete or cease use of] the
        Accounts.</p>
        <p>4.&nbsp;&nbsp;&nbsp;&nbsp;
        Disclaimers. FACEBOOK MEDIA makes no warranties, whether
        express, implied or statutory, with regard to this agreement. ADVERTISING
        ASSOCIATE accepts the Access Software “as is” without any warranty whatsoever
        including without limitation the warranties of merchantability, fitness for a
        particular purpose and non-infringement. ADVERTISING ASSOCIATE ACKNOWLEDGES AND
        AGREES THAT FACEBOOK MEDIA WILL NOT BE LIABLE TO ADVERTISING ASSOCIATE OR ANY
        THIRD PARTY FOR ANY ACTIONS OF ADVERTISING ASSOCIATE OR ANY THIRD PARTY,
        INCLUDING, WITHOUT LIMITATION, RELATED TO OR ARISING FROM ADVERTISING ASSOCIATE’S
        INSTALLATION OR USE OF THE ACCESS SOFTWARE, INCLUDING BUT NOT LIMITED TO ANY
        BREACH OF ADVERTISING ASSOCIATE’S COMPUTER(S) OR ACCESS TO OR LOSS OF
        INFORMATION.</p>
        <p>5.&nbsp;&nbsp;&nbsp;&nbsp;
        Limitation
        of Liability. NEITHER PARTY
        SHALL BE LIABLE TO THE OTHER FOR ANY SPECIAL, CONSEQUENTIAL, INCIDENTAL,
        PUNITIVE, OR INDIRECT DAMAGES (INCLUDING LOST PROFITS OR LOST REVENUES) ARISING
        FROM OR RELATING TO THIS AGREEMENT (INCLUDING BREACH OF THIS AGREEMENT) OR THE
        EXERCISE OF ITS RIGHTS HEREUNDER, REGARDLESS OF ANY NOTICE OF THE POSSIBILITY
        OF SUCH DAMAGES. IN NO EVENT WILL FACEBOOK MEDIA’S TOTAL, AGGREGATE LIABILITY
        UNDER THIS AGREEMENT FOR ALL CLAIMS BY ADVERTISING ASSOCIATE OR ANY THIRD PARTY
        OF WHATEVER NATURE EXCEED THE TOTAL AMOUNTS PAID BY FACEBOOK MEDIA TO ADVERTISING
        ASSOCIATE UNDER THIS AGREEMENT.</p>
        <p>6.&nbsp;&nbsp;&nbsp;&nbsp; Confidentiality.
        The term “Confidential Information”
        shall mean any and all knowledge, information, or data of FACEBOOK MEDIA that
        is marked as “Confidential” and/or “Proprietary” or which is reasonably
        understood to be a valuable, special, or unique asset of FACEBOOK MEDIA, the
        disclosure of which is or may be damaging or harmful to FACEBOOK MEDIA or its
        business or interests. Confidential Information shall include but is not
        limited to FACEBOOK MEDIA’s business records, oral and electronic
        communications, financial information, business practices, trade secrets,
        know-how, intellectual property,
        materials, inventions, devices, specifications, designs, plans, methods,
        software, data, technical information, concepts, procedures, processes,
        business plans, facilities, employees, marketing and sales strategies, business
        opportunities, and strategic plans. ADVERTISING ASSOCIATE acknowledges
        and agrees that the Access Software and the terms and existence of this agreement
        are Confidential Information of FACEBOOK MEDIA. ADVERTISING ASSOCIATE agrees
        that it will not, at any time during the term of this agreement or for so long
        as FACEBOOK MEDIA considers the information to be Confidential Information (as
        defined by this agreement), copy or reproduce, publish, sell, use, make any
        commercial use of, exploit, disclose, or divulge any Confidential Information
        of FACEBOOK MEDIA, directly or indirectly, to any other person or entity
        except: (i) at the written direction of FACEBOOK MEDIA; (ii) to the extent
        necessary to comply with law or the valid order of a court or governmental
        agency of competent jurisdiction, in which event ADVERTISING ASSOCIATE will
        promptly notify FACEBOOK MEDIA (where permissible under law) and will seek or
        assist FACEBOOK MEDIA with seeking confidential treatment of such information
        prior to ADVERTISING ASSOCIATE’s disclosure of such information; and (iii) to ADVERTISING
        ASSOCIATE’s accountants, financial advisors and/or attorneys as part of its
        normal reporting or review procedures or to enforce its rights pursuant to this
        agreement. ADVERTISING ASSOCIATE further agrees that such Confidential
        Information will at all times remain the property of FACEBOOK MEDIA (or its
        licensors, customers, or suppliers) and that ADVERTISING ASSOCIATE shall take
        all necessary and appropriate procedures to avoid unauthorized disclosure of
        the Confidential Information.&nbsp; Upon
        termination of this agreement, ADVERTISING ASSOCIATE will, at the choice of FACEBOOK
        MEDIA, return or destroy any and all Confidential Information and copies
        thereof in its files (and certify to FACEBOOK MEDIA that it has done so).</p>
        <p>7.&nbsp;&nbsp;&nbsp;&nbsp;
        Security
        Measures.&nbsp; ADVERTISING ASSOCIATE shall implement, at a
        minimum, reasonable and appropriate administrative, physical, and technical
        security controls. &nbsp;&nbsp;ADVERTISING
        ASSOCIATE shall maintain documentation confirming such implementation. Such
        documentation shall be made available upon the request of FACEBOOK MEDIA.&nbsp; Failure of ADVERTISING ASSOCIATE to
        materially comply with the provisions and requirements shall be considered a
        material breach of the agreement. FACEBOOK MEDIA retains the right to audit,
        with prior notice, ADVERTISING ASSOCIATE’s information security controls and physical,
        administrative, and technical safeguards.&nbsp;
        ADVERTISING ASSOCIATE will notify FACEBOOK MEDIA within 24 hours from
        learning of any attacks (including virus, worm and denial-of-service attacks),
        unauthorized activities of any hackers or any other Person, or any authorized
        access to or use of ADVERTISING ASSOCIATE’s computer(s), the Access Software,
        or Confidential Information.</p>
        <p>8.&nbsp;&nbsp;&nbsp;&nbsp;
        Governing
        Law. This agreement and the
        rights of the parties hereunder shall be governed by and construed in
        accordance with the laws of the State of California, exclusive of conflict or
        choice of law rules. The parties acknowledge that this agreement evidences a
        transaction involving interstate commerce. Notwithstanding the provision in the
        paragraph with respect to applicable substantive law, any arbitration conducted
        pursuant to the terms of this agreement shall be governed by the Federal
        Arbitration Act (9 U.S.C. §§ 1-16).</p>
        <p>9.&nbsp;&nbsp;&nbsp;&nbsp;
        Dispute
        Resolution. Any dispute,
        claim or controversy arising out of or relating to this agreement or the
        breach, termination, enforcement, interpretation or validity thereof, including
        the determination of the scope or applicability of this agreement to arbitrate,
        shall be determined by arbitration in San Diego, California before one
        arbitrator. The arbitration shall be administered by JAMS pursuant to its
        Streamlined Arbitration Rules and Procedures. Judgment on the arbitration award
        may be entered in any court having jurisdiction. The parties shall maintain the
        confidential nature of the arbitration proceeding and the arbitration award,
        including the arbitration hearing, except as may be necessary in connection with
        a judicial challenge to an arbitration award or its enforcement. In any
        arbitration arising out of or related to this agreement, the arbitrator(s) are
        not empowered to award punitive or exemplary damages and the parties waive any
        right to recover any such damages. In any arbitration arising out of or related
        to this agreement, the arbitrator(s) may not award any incidental, indirect or
        consequential damages, including damages for lost profits. Neither party has
        the right to arbitrate on a class action basis any dispute, controversy, or
        claim arising out of or relating to this agreement, or the interpretation,
        enforceability, performance, breach, termination, or validity thereof,
        including, without limitation, this arbitration clause.</p>
        <p>10.&nbsp; Jury Trial Waiver. To the extent that any court of competent
        jurisdiction determines that the arbitration provisions of this agreement are
        inapplicable or unenforceable with respect to any claim or dispute, the parties
        hereby irrevocably waive all right to trial by jury in any court in any action
        for the adjudication of such claim or dispute.</p>
        <p>11.&nbsp; Independent Contractors. FACEBOOK MEDIA and ADVERTISING ASSOCIATE
        are independent contractors, and neither party, nor any of their respective
        affiliates, is an agent, partner, or joint-venturer of the other for any
        purpose or has the authority to bind the other.</p>
        <p>12.&nbsp; No Third Party Beneficiaries. This agreement does not create any third
        party beneficiary rights in any individual or entity that is not a party to
        this agreement.</p>
        <p>13.&nbsp; Severability. If any portion of this agreement is held to
        be invalid or unenforceable, the remaining portions of this agreement will
        remain in full force and effect. Any invalid or unenforceable portions will be
        interpreted to effect the intent of the original portion. If such construction
        is not possible, the invalid or unenforceable portion will be severed from this
        agreement but the rest of the agreement will remain in full force and effect.</p>
        <p>14.&nbsp; Notices. Any notices required or permitted to be given under this agreement
        shall be provided as follows. Notices provided by personal delivery will be
        effective immediately. Notices provided by email transmission or overnight
        courier will be effective one business day after they are sent. Notices
        provided by registered or certified air mail, return receipt requested, will be
        effective three business days after they are sent. Notices shall be sent to the
        address of the respective party indicated on the signature page of this agreement.
        Either Party may update the email or address for notices to the other party by
        giving notice stated above.</p>
        <p>15.&nbsp; Assignment. ADVERTISING ASSOCIATE may not assign or delegate this agreement, or
        any of its rights or obligations hereunder, without the prior written consent
        of FACEBOOK MEDIA, and any assignment or delegation in violation of this
        provision shall be void.</p>
        <p>16.&nbsp; Entire Agreement. This agreement is the entire agreement
        between FACEBOOK MEDIA and ADVERTISING ASSOCIATE regarding the subject matter
        of this agreement. This agreement supersedes all prior or contemporaneous
        representations, understandings, agreements, or communications between FACEBOOK
        MEDIA and ADVERTISING ASSOCIATE, whether written or oral, regarding the subject
        matter of this agreement.&nbsp; Any amendments
        to this agreement must be in writing and must be signed by both parties. No
        oral agreement, course of dealing, or trade usage shall be deemed to modify
        this agreement. The failure of a party to enforce any provision of this agreement
        will not constitute a present or future waiver of such provision or limit a
        party’s right to enforce such provision at a later time. All waivers must be in
        writing and signed by the party issuing the waiver.</p>
        <p>17.&nbsp; We reserve the right to void checks after 30 days of issuance if funds are not declared.</p>
        <p>18.&nbsp; Maximum participation per household is 1.</p>
    </div>
{% endblock content %}