
{% load static %}

<html>

<head>
<link rel="shortcut icon" href="{% static 'images/landing/logo.png' %}">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
<title>Thank you for joining us</title>
</head>

<body>
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">Thank You for Registering!</h1>
		</div>
	</div>
	<div class="container">
        <p>
            Thank you for your interest in participating in our program. Please use mobile qualification <strong>ONLY</strong> if you do not have a laptop or desktop computer. This method is much more difficult than our Splashtop method.
        </p>

        <p>
            Remember - You MUST have residential, high speed internet and an available port in your modem or router.
        </p> 

        <h3>
            Instructions
        </h3>
        <p>
            Once you are sent an Adbox, we will log into your Facebook account from the Adbox. We will check all of these area again to  make sure you qualify before your pay starts. Your name on Facebook must match the name that you used to apply for our program and the name on your ID.
        </p>

        <p>
            You will be required to submit 11 pictures/screenshots. Here is a list of them. More detailed instructions are provided below:
        </p>

        <h3>
            Misc Screenshots 
        </h3>
        <ol>
            <li>
                Clear picture of your ID on top of your router. Both your ID and router must be clearly visible in the same picture. 
            </li>
            <li>
                Piece of mail with your name and address
            </li>
            <li>
                Picture from Whoer.net
            </li>
        </ol>

        <h3>
            Facebook Screenshots
        </h3>
        <ol>
        <li>
            Login page on FB (showing your user credentials) PW not hidden
        </li>
        <li>
            Number of friends (found in about me)
        </li>
        <li>
            Birthdate
        </li>
        <li>
            Age of account
        </li>
        <li>
            Login History
        </li>
        <li>
            Payments History
        </li>
        <li>
            Payments History (account settings)
        </li>
        <li>
            Ads manager
        </li>
        <li>
            Ads manager Billing
        </li>
        </ol>


        <p>
            1: Please take a picture of your photo ID on top of your modem/router. 
        </p>
        <p>
            2: Please submit a picture of a piece of mail with your name and address on it. The address on this mail must match the address we are shipping your Adbox to.
        </p>
        <p>
            3:   Please open your internet and go to WHOER.net. Take a screenshot of this page. You MUST be connected to your residential Wi-Fi and not your cellular network. If you are are not connected to Wi-Fi, your account will not be accepted. Please make sure this is the same residential Wi-Fi you will be connecting the Adbox to. 
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image17.png' %}" width="300px" alt="">
        </p>
        <p>
            4:  Next, go to Facebook.com. Double check your user credentials. Please click on “show” to the right of your PW so that your FB email and PW are displayed. Take a screenshot of this page
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image7.png' %}" width="300px" alt="">
        </p>
        <p>
            5. Once you have logged in, click on your picture in the lop left corner of your screen. This will open your profile.
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image8.png' %}" width="300px" alt="">
        </p>
        <p>
            Once you have opened your profile, scroll down to friends. Please take a picture of your number of friends. 
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image2.png' %}" width="300px" alt="">
        </p>
        <p>
            6.  Scroll back up and click on about. You can see your about section in the top left of the picture above (the same page as it shows your number of friends on!)
        </p>
        <p>
            Once you have clicked on “About,” please scroll down to your birthdate. Please take a screenshot of this.
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image16.png' %}" width="300px" alt="">
        </p>
        <p>
            7. The next step is to show that your account is at least 1 year old. To do this, go to the 3 horizontal dashes in the top right of your Facebook and click on them 
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image11.png' %}" width="300px" alt="">
        </p>
        <p>
            Scroll down to settings 
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image4.png' %}" width="300px" alt="">
        </p>
        <p>
            Select “Activity Log” 
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image5.png' %}" width="300px" alt="">
        </p>
        <p>
            Scroll to the bottom of the activity log to verify account is at least 1 year of age.
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image1.png' %}" width="300px" alt="">
        </p>
        <p>
            Please take a screenshot of this.
        </p>
        <p>
            8.  Just like you did in the last step, go back to settings ( 3 horizontal bars top right, scroll down to settings)
        </p>
        <p>
            Then go to “security and login”  - see more. Please take a picture of where you are logged in from. Do not clear your history, or the technician will not be able to qualify you.
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image13.png' %}" width="300px" alt="">
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image10.png' %}" width="300px" alt="">
        </p>
        <p>
            9. Go back to settings again, and then click “payments” 
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image12.png' %}" width="300px" alt="">
        </p>
        <p>
            Once you click on payments you will grab a screenshot of this page below 
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image3.png' %}" width="300px" alt="">
        </p>
        <p>
            10. Click on “Account Settings” and take a picture of this page.
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image6.png' %}" width="300px" alt="">
        </p>
        <p>
            11:  Please go to the website facebook.com/adsmanager
        </p>
        <p>
            Most likely, this page will have nothing under the section “all campaigns” so may look a little different.
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image15.png' %}" width="300px" alt="">
        </p>
        <p>
            Scroll down to the bottom of the page and click on “billing” such as seen here
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image14.png' %}" width="300px" alt="">
        </p>
        <p>
            12: Take a picture of the “billing page” as seen below
        </p>
        <p>
            <img src="{% static 'images/fb_screenshot/image9.png' %}" width="300px" alt="">
        </p>
        <p>
            Please submit all pictures to your recruiter for acceptance.
        </p>
        <p>
            You are all done!
        </p>
        <p>
            Thank you!
        </p>



	</div>
	<footer class="container">
		<p>© RentYourSocialMedia 2018</p>
	</footer>
</body>

</html>
