{% extends 'base.html' %}

{% load bootstrap %}
{% load humanize %}
{% load helpers %}

{% block title_extra %}| Proxy tunnel info{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ raspberry_pi.rpid }}  proxy tunnel info</h1>
        <p>
            Check <b>{{ raspberry_pi.rpid }} {{ lead.name }}</b> profile in MultiloginApp:
            <ol>
                <li>Create a new profile in MultiloginApp, name it <b>{{ raspberry_pi.rpid }} {{ lead.name }}</b>, if it does not exist yet.</li>
                <li>Go to Edit, check proxy settings</li>
                <li>Select <b>Socks 5 proxy</b> connection type</li>
                <li>Set Address to <b>{{ raspberry_pi.proxy_hostname }}</b></li>
                <li>Set Port to <b>{{ raspberry_pi.rtunnel_port }}</b></li>
                <li>Set Login to <b>{{ raspberry_pi.TUNNEL_USER }}</b></li>
                <li>Set Password to <b>{{ raspberry_pi.proxy_password }}</b></li>
                <li>Save and launch your new profile.</li>
                <li>Ping @vlad if something is not working.</li>
            </ol>
        </p>
        <h3>Actions</h3>
        <p>
            <form action="" method="POST">
                {% csrf_token %}
                {% if not raspberry_pi.is_proxy_tunnel %}
                    <button class="btn btn-primary" name="action" value="make_proxy_tunnel">Make proxy tunnel</button>
                {% endif %}
                <button class="btn btn-default" name="action" value="new_config">Restart tunnels</button>
                <button class="btn btn-default" name="action" value="reassign_ports">Assign new ports</button>
                <button class="btn btn-default" name="action" value="restart">Restart device</button>
            </form>
        </p>
        <p>
            <a target="_blank" href="{% url 'show_log' rpid=raspberry_pi.rpid  filename=today_log_filename %}" class="btn btn-default">Today log</a>
        </p>
        <div class="alert alert-info">
            <p>
                <strong>SSH</strong> ssh -oStrictHostKeyChecking=no pi@{{ raspberry_pi.proxy_hostname }} -p {{ raspberry_pi.tunnel_port }}
            </p>
        </div>
        
    </div>
{% endblock %}
