{% extends "admin/base_site.html" %}

{% block content %}
    <h1>Bundler bonuses for {{start_date|date:"d M"}} - {{end_date|date:"d M"}}</h1>

    <h2>Select date</h2>
        {% for dates in dates_list %}
            {% if dates.start_date == start_date %}
                {{dates.start_date|date:"d M"}} - {{dates.end_date|date:"d M"}}
            {% else %}
                <a class="button" href="{% url 'admin_helpers:bundler_bonuses' %}?date={{dates.start_date|date:"Y-m-d"|urlencode }}">
                    {% if dates.start_date < start_date  %}
                        &lt;&lt;
                    {% else %}
                        &gt;&gt;
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}

    <h2>Bundler bonuses</h2>

    {% if bundler_stats %}
        <table>
            <thead>
                <th>Bundler</th>
                <th>Lead accounts</th>
                <th>Bonus</th>
            </thead>
            <tbody>
                {% for bundler_stat in final_bundler_stats %}
                    <tr>
                        <th>
                            <a href="{% url 'admin:adsrental_bundler_changelist' %}?id={{ bundler_stat.bundler_id|urlencode }}">
                                {{ bundler_stat.bundler_name }}
                            </a>
                        </th>
                        <td>
                            <a href="{% url 'admin_helpers:bundler_bonuses_accounts' bundler_id=bundler_stat.bundler_id %}?start_date={{ start_date|date:"Y-m-d"|urlencode }}&amp;end_date={{ end_date|date:"Y-m-d"|urlencode }}">
                                {{ bundler_stat.lead_accounts_count }}
                            </a>
                            {% if bundler_stat.bonus_lead_accounts_count %}
                                (
                                    {{ bundler_stat.own_lead_accounts_count }} own,
                                    {{ bundler_stat.bonus_lead_accounts_count }} extra
                                )
                            {% endif %}
                        </td>
                        <td>
                            ${{ bundler_stat.bonus|floatformat:2 }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        No data
    {% endif %}
{% endblock %}
