{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list %}

{% block messages %}
    {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if 'safe' in message.tags %}
                        {{ message|safe }}
                    {% else %}
                        {{ message|capfirst }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock messages %}