{% extends "admin/base_site.html" %}

{% block content %}
    <h1>Resolve {{ lead_account_issue.get_issue_type_display }} issue for {{ lead_account_issue.lead_account }}</h1>
    <p>New value: {{ lead_account_issue.new_value }}</p>
    <h3>Notes</h3>
    {% for note in notes %}
        <p>{{ note }}</p>
    {% endfor %}

    {% if can_be_resolved %}
        <form action="" method="post">
            {% csrf_token %}
            <button name="action" value="resolve">Resolve</button>
            <button name="action" value="reject">Reject</button>
        </form>
    {% else %}
        <p>Issue cannot be resolved.</p>
    {% endif %}
{% endblock %}
