{% extends "admin/base_site.html" %}

{% block content %}
    <h1>Resolve {{ lead_account_issue.get_issue_type_display }} issue for {{ lead_account_issue.lead_account }}</h1>
    <h2>New value</h2>
    <p>{{ lead_account_issue.new_value }}</p>
    <h2>Notes</h2>
    {% for note in lead_account_issue.get_note_lines %}
        <p>{{ note }}</p>
    {% endfor %}
    {% if lead_account_issue.images.count %}
        <h2>Images</h2>
        {% for image in lead_account_issue.images.all %}
            <a href="{{ image.image.url }}" target="_blank">
                <img src="{{ image.image.url }}" width="300px" />
            </a>
        {% endfor %}
    {% endif %}

    <h2>Actions</h2>
    {% if lead_account_issue.can_be_resolved %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="action" value="resolve">Resolve</button>
            <button name="action" value="reject">Reject</button>
        </form>
    {% else %}
        <p>Issue is already {{ lead_account_issue.get_status_display }} and cannot be resolved.</p>
        <p>
            <a href="{% url 'admin:adsrental_leadaccountissue_changelist'%}">
                Back to issues administration
            </a>
        </p>
    {% endif %}
{% endblock %}
